body {
    background: #db8708;
}

.todos li {
    background: #ecf1ee;
    color: black;

}
.delete{
    color: black;
    font-size: large;
}

.delete {
    cursor: pointer;
}

/* Filtered */
.filtered {
    display: none !important;
}
fas fa-check-circle i{
color:aliceblue;
font-size: large;
}